version: "4.0"

services:
  devkit:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: devkit_ros:latest
    container_name: feldfreund_runtime
    network_mode: host
    privileged: true
    # This is the "Golden Link" - it reads the file on every 'up'
    env_file:
      - ../.env 
    devices:
      - /dev:/dev
    volumes:
      - /dev:/dev
      - ~/.ros:/root/.ros
      - ../:/workspace  # Mounts utilities AND code
    environment:
      - ROS_DOMAIN_ID=0
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
    command: bash -c "source /opt/ros/jazzy/setup.bash && [ -f /workspace/install/setup.bash ] && source /workspace/install/setup.bash; ros2 launch devkit_launch devkit_nocams.launch.py"
    restart: unless-stopped
